img {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  float: right;
}
h1 {
  background-color: green;
  color: white;
  text-align: center;
}
div {
  background-color: lightblue;
}
p {
  color: /*red*/blue; 
  font-family: verdana;
  font-size: 30px;
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}
header {
    line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
    }
    body a {
      color: #ffffff; /* Your custom link color */
          background-image: url("paper.gif");
    }
p.one {
  border-style: solid;
  border-width: 5px;
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}
p.two {
  border-style: solid;
  border-width: medium;
}

p.three {
  border-style: dotted;
  border-width: 2px;
}
p.four {
  border-style: dotted;
  border-width: thick;
}
    section {
      color: hsla(315, 70%, 36%, 0.733); /* Your custom link hover color */
    }

    .custom-button {
      background-color: #ff0000; /* Your custom background color */
      color: #ffffff; /* Your custom text color */
      border: none; /* Remove the default button border */
    }

    .custom-button:hover {
      background-color: #ffffff; /* Your custom background color on hover */
      color: #ff0000; /* Your custom text color on hover */
    }
    footer p {
   background-color: rgb(174, 0, 255);
    }
    .comment-section form button{
        margin-bottom: 20px;
        background-color: #fff;
        padding: 10px 20px;
        border-color: #b700ff;
        cursor: pointer;
    }
    
nav ul list {
margin-right: 10px;
}

ul li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
  list-style-type: none;
}

.image-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
p {
  margin: 25px 50px 75px 100px;
}
  </style>
