/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

/* About section styles */
#about {
  background-color: #f4f4f4;
}

/* Education section styles */
#education {
  background-color: #eaeaea;
}

/* Research section styles */
#research {
  background-color: #f4f4f4;
}

/* Contact section styles */
#contact {
  background-color: #eaeaea;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}